<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="text-align: right;">
  
	<a class="navbar-brand" >Hello, Guest</a>

	<button type="button" class="btn btn-success" style="margin-left: 5px;" (click)="listProgram()" >Program Details</button>

	<button type="button" class="btn btn-success" style="margin-left: 5px;" (click)="listEPG()">EPG Details</button>

	<button type="button" class="btn btn-danger" style="margin-left: 20px;" (click)="logout()" >Logout</button>


</nav>
<div align="right">
<nav aria-label="breadcrumb" >
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Login</li>
    <li class="breadcrumb-item" aria-current="page">Program Details</li>
    <li class="breadcrumb-item" aria-current="page">EPG Details</li>
  </ol>
</nav>
</div>
