<div class="col-md-6" align="center">  
  <h2 class="text-center">{{!editEmpId ? 'Add' : 'Edit'}} Program</h2>  
  <form [formGroup]="addForm" novalidate class="form">  
    <table cellpadding="15"><tr><td>
    
      <label for="title">Program Title:<font color="red" size="4"><sup>*</sup></font></label> </td> <td> : </td><td>
      <input formControlName="program_title" placeholder="program Title" name="title" class="form-control" id="title">  
     </td>
   </tr><tr>
    <td>
     
      <label for="empName">Program Age:</label>  </td><td> : </td><td>
      <input formControlName="program_age" type="number" placeholder="Program Age" name="age" class="form-control" id="age">  
     </td>
    </tr><tr>
    <td> 
    
      <label for="empName">Program Description:<font color="red" size="4"><sup>*</sup></font></label>  </td><td> : </td><td>
      <input formControlName="program_description" placeholder="Program Description" name="description" class="form-control" id="description">  
     </td>
    </tr><tr>
    <td>
    
      <label for="empName">Program Type:<font color="red" size="4"><sup>*</sup></font></label> </td> <td> : </td><td>
      <input formControlName="program_type" placeholder="Program Type" name="type" class="form-control" id="type">  
   </td>
   
    </tr></table>
     
    <button style="margin-right:20px" class="btn btn-success" *ngIf="!editEmpId" [disabled]='addForm.invalid' (click)="onSubmit()">Save</button>  
    <button style="margin-right:20px" class="btn btn-success" *ngIf="editEmpId" [disabled]='addForm.invalid' (click)="onUpdate()">Update</button>  
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
     <button class="btn btn-success" (click)="backClicked()">Cancel</button>  
  
    <!-- <p>Form value: {{ this.addForm.value | json }}</p>  --> 
  </form>  
</div>